body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #008000; /* green */
}

#song-form {
    margin-top: 20px;
}

#song-input {
    width:70%; /* takes up half of the available space */
    padding: 10px;
    background-color:#fff; /* white */
    color:#000; /* black */
 }
#song-form button {
    flex-basis:10%;
   padding: 10px;
   background-color:#008000; /* green */
   border:none;
   color:#fff; /* white */
}

#recommendations {
   margin-top: 50px;
}